@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --bodyBg: #f7f7f7;
    --formBg: #ccc5c5;
    --textColor: #0a0a0a;
    --primaryColor: #2f393d;
    --paraColor: #080808;
    --paraColor: #0a0a0a;

}

body {
    font-family: 'Roboto Serif', serif;
    color: var(--textColor);
    background: var(--bodyBg);
    padding-bottom: 5em;
    margin-top: 100px; /* to make the header under of the navbar */
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 550px;
    margin: auto;
    margin-top: 2em;
}

.sectionHeader {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--primaryColor);
    margin-bottom: .5em;
}

.heading,
.sub-heading {
    margin-bottom: .5em;
    font-weight: bold;
}

.heading {
    font-size: 2.5em;
}

.sub-heading {
    text-align: left;
}

.contactForm {
    display: grid;
    gap: 3em;
}

form {
    width: 100%;
    margin-top: 3em;
}

.para {
    color: var(--paraColor);
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.para2 {
    text-align: left;
}



.input {
    width: 95%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    background-color: var(--formBg);
    color: var(--paraColor);
    border-radius: 10px;
    border: 1px solid rgb(20, 20, 20);
    margin-bottom: 1em;

}

.input:focus {
    border: 1px solid var(--primaryColor);
}

.input::placeholder {
    text-transform: capitalize;
}

.submit {
    background-color: var(--primaryColor);
    border: none;
    color: var(--textColor);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.map-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.mapBg {
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    right: 0;
    width: 200px;
    height: 90%;
    border-radius: 20px;
}

.map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.contactMethod {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: left;
}

.method {
    display: flex;
    align-items: center;
}

.contactIcon {
    font-size: 2rem;
    color: var(--primaryColor);
    width: 70px;
}

@media screen and (min-width:800px) {
    section {
        max-width: 1100px;
    }

    .contactForm {
        grid-template-columns: 1fr 1fr;
    }

    .contactMethod {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* Navigation */
nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
}

label.logo {
    font-size: 24px;
    color: white;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
.map iframe {
    border-radius: 20px;
    color: #050505;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #55585a;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #333;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Display menu icon on smaller screens */
@media (max-width: 768px) {
    .checkbtn {
        display: block;
    }
}


#check {
    display: none;
}

/* Responsive Design */
@media (max-width: 1190px) {
    .checkbtn {
        display: block;
    }

    label.logo {
        font-size: 22px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        background: none;
        color: #848a8e;
    }

    #check:checked~ul {
        left: 0;
    }
}
