/* Navbar styling */
nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
}

label.logo {
    font-size: 24px;
    color: white;
    line-height: 80px;
    font-weight: bold;
}

/* Hamburger menu styling */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;
    margin-left: 20px;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    transition: all 0.3s ease;
}

/* Nav items */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    background: #55585a;
    transition: 0.5s;
}

/* Responsive Hamburger Menu */
@media (max-width: 768px) {
    #menu-toggle {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    nav ul {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background: #2c3e50;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    #menu-toggle:checked + .menu-icon + ul {
        left: 0;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 20px;
    }
}
